
<div class="login-screen">
  <div class="app-login-form">
        
    <h3 class="loginTitle">Log in</h3>

    <form class="inputForm" (submit) = "loginUser($event)">

      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>


      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>

      <div class="buttons">
          <button type="submit" class="btn btn-primary login-btn">Login</button>
      </div>
      
    </form>

  </div>
</div>



