<div class="dashboard-screen">

  <div class="dash-left">

    <div class="user-data">
        <h5 class="your_profile_title">Your profile:</h5>
        <p><b>Email: </b>{{email}}</p>
        <p><b>Location: </b>City, Country</p>
    </div>

    <div class="filter">
      Filter
    </div>

  </div>

  <div class="dash-right">

    <div class="form-group">
        <label for="searchLocation"><h5>Search location:</h5></label>
        <input type="text" class="form-control" placeholder="Location" id="searchLocation">
    </div>

    <div class="list">
      List
    </div>

  </div>

</div>
