<div class="dashboard-screen">

  <!-- <h3 class="dashboardTitle">Dashboard</h3> -->

  <div class="user-data">
      <h5>Your profile:</h5>
      <hr>
      <p><b>Email: </b>{{email}}</p>
      <p><b>Password (to delete): </b>{{password}}</p>
      <p><b>Location: </b>City, Country</p>
  </div>

    <div class="form-group">
        <label for="searchLocation"><h5>Search location:</h5></label>
        <input type="text" class="form-control" placeholder="Location" id="searchLocation">
    </div>

    <div class="filter">
      Filter
    </div>
    <div class="list">
      List
    </div>

</div>
